.enc {
    text-align: right;
    padding: 20px;
    font-size: 25px;
    font-family: $fuenteUno;
    background-color: $colorNav;
    a {
        text-decoration: none;
        color: whitesmoke;
        border-right: 2px solid whitesmoke;
        padding-right: 5px;
        padding-left: 5px;
    }
}



.logo {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 30px;
    top: 5px;
}