
.titComp {
    padding: 15px;
    font-family: $fuenteUno;
    text-align: center;
    font-size: 25px; 
}


.nustraInst {
    font-family: $fuenteDos;
    width: 90%;
    margin: 20px auto;
    color: black;
    padding: 30px;
    text-align: center;
    .izq {
        height: 400px;
        width: 400px;
        border-radius: 8px;
        float: left;
        margin-right: 15px;
    }
    .der {
        height: 270px;
        width: 300px;
        float: right;
        margin-left: 15px;
        border-radius: 8px;
    }
}
