ul li {
    padding: 10px;
    list-style: none;
}
    
.imgProd {
    height: 100px;
    width: 100px;
    display: block;
    margin: 30px;
}
.tituProd{
    text-align: center;
    font-family: $fuenteUno;
    font-size: 40px;
    padding-top: 30px;

}

.grillaProd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-family: $fuenteUno;
    font-size: 15px;
    padding: 50px;
    gap: 50px ;
    background-image: linear-gradient(gainsboro, grey, rgb(48, 47, 47));
}

.grillaProd { 
    div {
        border: 2px solid black;
    }
    h2 {
        text-align: center;
    }
    p {
        @extend h2;
    }
    ul { 
        @extend h2;
    }    
    li {
    padding: 1px;
}
}