.noticia {
    width: 90%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
    font-family: $fuenteUno;
  }
  
 .izquierda {
     width: 150px;
     height: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  