.pres {
    background-repeat: no-repeat;
    height: 500px;
    background-image: url(../imgSty/DelValleCity1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    h1 {
        color: white;
        font-size: 30px;
        font-family: $fuenteUno;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p {
        color: white;
        font-size: 30px;
        font-family: $fuenteUno;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
}




.aseso {
    text-align: center;
    font-family: $fuenteUno;
    font-size: 40px;
}

.aseso2 {
    @extend .aseso
   
}

.imgIndx {
    height: 70px;
    width: 70px;
    display: inline;
    margin: 10px;
}

.prodGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
    margin: 55px;
    font-family: $fuenteUno;
    div {
        width: 150px;
        height: 200px;
        background:#adadad;
        border-radius:8px;
        padding: 30px; 
        box-sizing:border-box;
        font-family: $fuenteUno ;
        position:relative;
        h3 {
            text-align: center
        }
       
    }
}

.secBoton {
    display: flex;
    justify-content: center;
    padding: 10px;
a {
    text-decoration: none;
    background: gray;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: $fuenteUno;
    font-size: 16px;
    font-weight: 700px;
    line-height: 24px;
    padding: 8px 18px;
  }
}
