.noti {
    background-image: linear-gradient(gainsboro, grey, rgb(48, 47, 47));
}



.noticia {
    width: 80%;
    margin: 20px auto;
    background-color: gainsboro;
    color: black;
    padding: 15px;
    font-family: $fuenteUno;
    border-radius: 8px;
  }
  
 .izquierda {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;    
  }
  
  