.foot {
    display: inline;
    padding-left: 80px;
    padding-right: 80px;
    font-family: $fuenteUno;
    color: whitesmoke;
}

.footer {
    background-color: $colorNav;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}