@media screen and (max-width:768px) {
    .enc {
        a {
            display: list-item;
            list-style: none;
            padding: 2px; 
            border: none;
            border-bottom: 1px solid $colorNav; 
            border-right: none;
            font-size: medium;
            padding-top: 25px;
            text-align: center;
        }
    }
    .logo { 
        position: absolute;
        top: 1px;
        margin-left: 22%; 
    }
    .pres {
        position: sticky;
        text-align: center;  
    }
    .pres {
        h1 {
            margin-top: -70px;
        }
        } 
    .prodGrid  {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        justify-items: center;
        justify-content: center;
        align-items: center;
    } 
    .foot{
        font-size: small;
    }
/* productos */
    .grillaProd {
        grid-template-columns: auto;
        text-align: center;
    }
    .grillaProd { 
        div {
            font-size: small;
        }
    }
}
@media screen and (min-width:769px) and (max-width:920px) {
    .enc {
        text-align: right;
        padding: 20px;
        font-size: 20px;
        font-family: $fuenteUno;
        background-color: $colorNav;
        a {
            text-decoration: none;
            color: whitesmoke;
            border-right: 2px solid whitesmoke;
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    .pres {
        h1 {
            font-size: 30px;
            text-align: center;
            padding-bottom: 40px;
        }
        p {
            font-size: 25px;
            text-align: center;
            
        }
    }
    
    .grillaProd {
        grid-template-columns: auto;
        text-align: center; 
        div {
            font-size: small;
            width: 150px;
            height: 200px;
        }
    }
}