* {
  margin: 0;
  padding: 0;
}

.enc {
  text-align: right;
  padding: 20px;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  background-color: #292829;
}

.enc a {
  text-decoration: none;
  color: whitesmoke;
  border-right: 2px solid whitesmoke;
  padding-right: 5px;
  padding-left: 5px;
}

.logo {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 30px;
  top: 5px;
}

.pres {
  background-repeat: no-repeat;
  height: 500px;
  background-image: url(../imgSty/DelValleCity1.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.pres h1 {
  color: white;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pres p {
  color: white;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aseso, .aseso2 {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
}

.imgEnlaces {
  width: 300px;
  height: 250px;
  padding: 70px;
}

.imgIndx {
  height: 70px;
  width: 70px;
  display: inline;
  margin: 50px;
}

.prodGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 15px;
  margin: 15px;
  font-family: "Dosis", sans-serif;
}

.prodGrid div {
  text-align: center;
  background-color: white;
  border: 2px solid black;
}

.secBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secBoton a {
  text-decoration: none;
  background: gray;
  border-radius: 999px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px;
  padding: 8px 18px;
}

ul li {
  padding: 10px;
  list-style: none;
}

.imgProd {
  height: 100px;
  width: 100px;
  display: block;
  margin: 30px;
}

.tituProd {
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  padding-top: 30px;
}

.grillaProd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  padding: 50px;
  gap: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(gainsboro), color-stop(grey), to(#302f2f));
  background-image: linear-gradient(gainsboro, grey, #302f2f);
}

.grillaProd div {
  border: 2px solid black;
}

.grillaProd h2, .grillaProd p, .grillaProd ul {
  text-align: center;
}

.grillaProd li {
  padding: 1px;
}

.form {
  width: 300px;
  margin: auto;
  padding: 20px;
}

.formulario {
  text-align: center;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.noticia {
  width: 90%;
  margin: 20px auto;
  background-color: #449;
  color: #fff;
  padding: 15px;
  font-family: "Dosis", sans-serif;
}

.izquierda {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.foot {
  display: inline;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Dosis", sans-serif;
  color: whitesmoke;
}

.footer {
  background-color: #292829;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .enc a {
    display: list-item;
    list-style: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    border-right: none;
    font-size: medium;
    padding-top: 30px;
  }
  .logo {
    position: absolute;
    top: 5px;
    margin-left: 20%;
  }
  .pres {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
  .pres h1 {
    margin-top: -70px;
  }
  .prodGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 50px;
        grid-template-rows: 50px 50px;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot {
    font-size: small;
  }
  /* productos */
  .grillaProd {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    text-align: center;
  }
  .grillaProd div {
    font-size: medium;
  }
}

.bg-gainsboro {
  background-color: gainsboro;
}
/*# sourceMappingURL=style.css.map */