* { 
    margin: 0; 
    padding: 0;
 }

@import "variables";
@import "navegador";
@import "pagInd";
@import "pagProd";
@import "pagComp";
@import "pagCont";
@import "pie";
@import "responsive";

@each $background in gainsboro	 {
    .bg-#{$background} {
        background-color: $background;
    }
}